<div class="container">

    <div class="row">
        <div class="col mt-4 mb-2">
            <h4>Dashboard</h4>
            <hr class="mt-4">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <%- include ("./partials/_alert_messages") %>
        </div>
    </div>

    <div class="row">
        <div class="col mb-4">
            <% if (posts.length > 0) { %>
            <div class="table-responsive mt-4">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Tags</th>
                            <th>Created Date</th>
                            <th>Last Edited</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% posts.forEach(function(post){ %>
                        <tr>
                            <td><a href="/posts/<%=post.slug%>"><%=post.title%></a></td>
                            <td>
                                <% if (post.tags.length > 0) { %>
                                <% post.tags.forEach(function(tag){ %>
                                <span class="badge badge-info mt-0 mb-2 p-2"><%= tag %></span>
                                <% }); %>
                                <% }; %>
                            </td>
                            <td><span
                                    class="card-title"><%= moment(post.createdAt).format('DD MMM YYYY, HH:mm:ss') %></span>
                            </td>
                            <td><span
                                    class="card-title"><%= moment(post.editedAt).format('DD MMM YYYY, HH:mm:ss') %></span>
                            <td><span class="dash-status"><%= post.status %></span></td>
                            <td>
                                <a href="/posts/edit/<%= post._id %>" class="btn btn-float">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <form action="/posts/<%= post._id %>" method="POST" id="delete-form">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn red">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <!--div table-responsive-->
            <% } else { %>
            <p>You have not created any posts.</p>
            <% }; %>
            <div class="container clearfix">
                <a href="/posts/backup" class="btn btn-secondary px-4 ml-2 float-right"><i
                        class="far fa-save mr-2"></i>Backup</a>
                <a href="/posts/add" class="btn btn-primary px-4 ml-2 float-right"><i class="fas fa-plus mr-2"></i>New
                    Post</a>
            </div>
        </div>
    </div>

</div>