<div class="container">
  <%- include ("./../partials/_alert_messages") %>

  <div class="row mb-2">
    <% posts.forEach(function(post){ %>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= moment(post.createdAt).format( 'MMM-DD-YYYY') %><span
              class="font-weight-light"> by <%= post.user.name %></span></h6>
          <p class="card-text"><%= helper.truncate(helper.stripTags(post.body),350) %></p>
          <a href="/blog/<%= post._id %>" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>

    <% }); %>
  </div>