<h1>Posts</h1>
<div class="row">
    <% posts.forEach(function(post){ %>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
            </div>
            <div class="card-content center-align">
                <h5><%= post.title %></h5>
                <p><%= post.body %></p>
                <br>
                <div class="chip">
                    <a href="/posts/user/<%= post.user._id %>"><%= post.user.name %></a>
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/posts/<%= post._id %>" class="btn grey">Read More</a>
            </div>
        </div>
    </div>
    <% }); %>
    <% if (posts.length == 0) { %>
    <p>No posts to display</p>
    <% } %>
</div>