<%- include('./../partials/_user_header_nav.ejs') %>
<div class="container">
    <div class="row">
        <% posts.forEach(function(post){ %>
            
        <div class="col s12 m4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= post.title %></h5>
                  <h6 class="card-subtitle mb-2 text-muted"><%= moment(post.createdAt).format( 'DD-MMM-YYYY') %></h6>
                  <p class="card-text"><%= post.body %></p>
                  <a href="/posts/<%= post._id %>" class="btn btn-primary">Read More</a>
                  <br>
                  More from <a href="/posts/user/<%= post.user._id %>" class="card-link"><%= post.user.name %></a>
                </div>
              </div>
        </div>
        <% }); %>
        <% if (posts.length == 0) { %>
        <p>No posts to display</p>
        <% } %>
    </div>
</div>