<%- include('./../partials/_user_header_nav.ejs') %>
<div class="container">
    <div class="row">
        <div class="col s12 m8">
            <h3><%= post.title %></h3>
            <small>
                <%= post.user.name %>,
                <span><%= moment(post.createdAt).format('MMMM Do YYYY, h:mm:ss a') %></span>
            </small>
            <div class="p-4 container">
                <%= post.body %>
            </div>
            <a href="/posts/user/<%= post.user._id %>">More From <%= post.user.name %></a>
        </div>
    </div>
</div>